.dr{

    margin-top: 3%;
    box-shadow: 2px 2px 10px #666;        /* Sombra normal */
 /* Sombra superior sin desenfoque */


}
.contact{
    margin-top: 25px;
}

.li{
    text-decoration: none;
}

.cart{
    margin-left: 1px;
}
.cont{

    margin-top: 35px;
    
    font-size: 30px; 
    text-align: justify;
    

}

.texto{
    align-items: baseline;
    font-size: 30px;
    float: right;
}